---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { Image } from '@astrojs/image/components'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<div class='p-3 md:p-0 mt-0 md:mt-8 flex justify-center'>
				<div class='md:w-1/4 w-full'>
					<img src='/malevich.png' />

					<div class='mt-3 text-center text-3xl font-bold'>Hi, I'm Michael</div>
				</div>
			</div>
		</main>
	</body>
</html>
